<ion-view>

  <div class="list">
    <label class="item item-input item-stacked-label">
      <span class="input-label">Nome area</span>
      <input type="text" placeholder="Area">
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label">Comune</span>
      <input type="text" placeholder="Comune">
    </label>
  </div>

  <div ng-controller="inspectionCtrl">
    <button class="button button-block button-stable" ng-click="toggleState()">
      Salva
    </button>
    <button class="button button-block button-stable" ng-show="show_adder == true">
      Aggiungi gioco
    </button>
  </div>

</ion-view>
