<ion-view>

  <div class="bar bar-header bar-stable">
    <h1 class="title">Lista ispezioni</h1>
  </div>

  <div ng-controller="inspectionCtrl">
    <br>
    <br>
    <br>
    <br>
    <textarea onload="showInspections()" id="db_result" ></textarea>
    <!--
    <div class="card" ng-repeat="showInspections()">
      <div class="item item-divider">
        Nome:   {{nome}}
      </div>
      <div class="item item-text-wrap">
        Comune:   {{comune}}
      </div>
      <div class="item item-divider">
        Giochi:   {{giochi}}
      </div>
    </div> -->
  </div>
</ion-view>
