<ion-view>
  <div class="bar bar-header bar-stable">
    <h1 class="title">Nuovo Gioco</h1>
  </div>
  <br><br>

  <div ng-controller="New_Area_Controller"></div>
  <form name="new_Game">
    <div class="list">

      <label class="item item-input item-stacked-label">
        <span class="input-label">Nome gioco</span>
        <input type="text" name="Gioco"  placeholder="Gioco" ng-model="Gioco" required>
        <span style="color : red; font-size: smaller" ng-show="new_Game.Gioco.$pristine && new_Game.Gioco.$invalid">Nome Area richiesto</span>
      </label>

      <label class="item item-input item-stacked-label">
        <span class="input-label">Data di posa</span>
        <input type="date" name="Data"  placeholder="Data" ng-model="Data" required>
        <span style="color : red; font-size: smaller" ng-show="new_Game.Data.$pristine && new_Game.Data.$invalid">Data di posa richiest</span>
      </label>

      <label class="item item-input item-select">
        <span class="input-label">
           Tipo Pavimentazione
        </span>

        <select id="Pavimento">
          <option value="0">Seleziona</option>
          <option value="1">Terra</option>
          <option value="2">Cemento</option>
          <option value="3">Torta</option>
        </select>
      </label>

    <button class="button button-block button-stable" ng-show="(new_Game.Gioco.$dirty && new_Game.Gioco.$valid) && (new_Game.Data.$dirty && new_Game.Data.$valid)"   ng-click="push_game()">
      Salva
    </button>
      </div>
</ion-view>
